@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


/* tudo */
* 
{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: #101f49;
}

/* primeira seção */
.primary-sec {

    height: 100vh;
    background: url(../Images/back/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Config menu */
.menu .nav-menu
{
   display: flex;   
   justify-content: space-around;
   align-items: center;
   height: 100%;
   padding: 30px 0px;
   color: #000; 
    border: 2px solid #061231;

}

/* list do menu */
 .menu .nav-menu .list-menu 
{
    display: flex;
    gap: 50px;
    list-style: none;
}


/* Link do menu */
 .menu .nav-menu .list-menu li a
{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    transition: 0.5s;
}

/* Pós menu */
 .menu .nav-menu .list-menu li a:hover
{   
    color: #425690;
}


/* config do primeiro container */
.container-pri
{
    padding: 30px;
    height: 100%;
    background: #304479;
    text-align: center;
}


 .multiplique
 {
    padding:    50px 30px;
    margin: auto auto;
 }

 @keyframes mult{
     0%
     {
         color: #fff;
     }
     50%
     {
         color: #e1f228;
     }
     100%
     {
         color: fff;
     }
 }

 .multiplique #titulo-multiplique
 {
     text-align: center;
     font-weight: bold;
     font-size: 3em;
     color: #fff;
     text-transform: uppercase;
     font-family: 'Kdam Thmor Pro', sans-serif;
     animation: mult 3s linear infinite;
 }

.multiplique .container-multiplique
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.multiplique .container-multiplique .text-multiplique
{
    width: 50%;
    color: #fff;
    text-align: left;
    font-size: 1.3em;
}

.multiplique .container-multiplique .text-multiplique #text-mult
{
    font-weight: bold;
    color: #e4f33d;
}

.multiplique .expli-mult
{
    text-align: center;
    padding: 30px;
    margin: auto auto;
    width: 70%;
}

.multiplique .expli-mult #paragrafo-expli
{
    font-size: 1.3em;
    color: #fff;
}


/* SEÇÃO LOGO */
.logo .container-logo
{
    text-align: center;
    width: 100%;
    margin: auto auto;
    position: relative;
    margin: -40px 0px;
}

.logo .container-logo #logo-sec
{
    position: relative;
    border-radius: 50%;
    z-index: 3;
    box-shadow: 1px 20px 30px 10px #000;
}

.logo .container-logo #fundo-text-img
{
    z-index: 1;
    position: relative;
    top: 100px;
    font-size: 12em;
    text-transform: uppercase;
    color: #040e29;
}

.tema #titulo-tema
{
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    color: #fff;
    margin: 30px 0px;
    animation: mult 2s linear infinite;
}

.tema
{
    margin: 100px 0px;
    padding: 50px;
}

.tema .container-tema .item-tema
{

    width: 100%;
    margin: 30px 0px;   
    padding: 30px;
    border-radius: 12px;
    background: #fff;
    cursor: pointer;
    transition: 0.5s;
}

.tema .container-tema .item-tema:hover
{
    box-shadow: 1px 10px 30px 0px #000;
    transform: scale(102%);
}

.tema .container-tema a
{
    color: #000;
    text-decoration: none;
}

.parallax-geral
{
    width: 100%;
    height: 100%;
}

.parallax-geral .parallax-tatica
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background: linear-gradient(#000000c6, #000000ca), url(../Images/Historia\ do\ trabalho\ -\ post.png);
    color: #fff;
    text-shadow: 0px 0px 20px #e4f062;
    background-size: cover;
    background-attachment: fixed;

    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.parallax-equipe
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background: url(../Images/MKT\ \(2\).png);
    color: #fff;
    text-shadow: 0px 0px 20px #e4f062;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;

    font-weight: bold;
    text-transform: uppercase;
}

.parallax-geral .parallax-conteudo
{
    padding: 100px;
}


.parallax-geral .parallax-img
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    height: 100%;
}

.parallax-geral .parallax-img .imagem-conteudo
{
    text-align: center;
    padding: 20px;
}

.parallax-geral .parallax-img .imagem-conteudo img
{
    border-radius: 12px;
    box-shadow: 4px 10px 30px 2px rgba(0, 0, 0, 0.67);
}

.parallax-geral .parallax-img .imagem-conteudo #titulo-parallax
{
    text-align: center;
    color: #fff;
}

.parallax-geral #paragrafo-parallax

{
    color: #fff;
    width: 50%;
    margin: 50px auto 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.parallax-geral  #titulo-parallax
{
    color: #fff;
    margin: 40px auto;
    padding: 30px;
    font-size: 3em;
    text-align: center;
}


.equipe 
{
    width: 100%;
    height: 100%;  
    padding: 30px 100px;
    margin: 50px auto;
}

.equipe #titulo-paragrafo,
.footer #titulo-paragrafo
{
    font-size: 3em;
    text-align: center;
    color: #fff;
    margin: 50px 0px;
}

.equipe .equipe-conteudo
{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;
    gap: 40px;
}

.equipe .equipe-conteudo .equipe-item
{
    width: 200px;
    height: 300px;
    background: #fff;
    padding: 24px 19px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 3px 5px 20px 0px #000;
    transition: 0.5s;
    cursor: pointer;
}

.equipe .equipe-conteudo .equipe-item:hover
{
    box-shadow: 0px 0px 30px 0px #f1fb85;
}

.equipe .equipe-conteudo .equipe-item img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/*
 Footer 
*/
.footer
{
    margin: 30px;
    padding: 50px;
}

.footer #paragrafo-parallax
{
    color: #fff;
    width: 80%;
    margin: 50px auto 100px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}



/* responsivel */

@media (max-width: 999px)
{
    .logo .container-logo #fundo-text-img
    {
        font-size: 5em;
    }

    .logo .container-logo #logo-sec
    {
        width: 200px;
    }
    
    .menu .nav-menu .list-menu 
    {
        flex-wrap: wrap;
        padding: 15px;
    }

    .menu .nav-menu
    {
        flex-wrap: wrap;
    }

    .multiplique .container-multiplique
    {
        flex-wrap: wrap;
        text-align: center;
    }
}

@media (max-width: 600px)
{
    .tema .container-tema .item-tema h2 
    {
        font-size: 1.1em;
    }

    .parallax-geral .parallax-tatica h2
    {
        font-size: 1.3em;
    }

    .parallax-geral  #titulo-parallax
    {
        text-align: center;
        font-size: 1.3em;
    }

    .footer #titulo-paragrafo
    {
        width: 100%;
        font-size: 1.4em;
    }

    .parallax-geral #paragrafo-parallax
    {
        width: 100%;
    }

    .multiplique .container-multiplique .text-multiplique
    {
        width: 70%;
        text-align: center;
    }

    .multiplique .expli-mult
    {
        width: 100%;
    }
    
    .parallax-geral .parallax-conteudo
    {
        padding: 70px;
    }

    .primary-sec
    {
        background: url(../Images/banner.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}